## Задание 1
```
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class
```

In [38]:
import pandas as pd
x = pd.read_csv('u.data', sep = '\t', names = ['user id', 'item id', 'rating', 'timestamp'])
# x.head()
def movie_class(rating):
    """Принимает значение столбца с рейтингом и возвращает класс"""
    if rating <= 2:
        return 'Low'
    elif rating <= 4:
        return 'Average'
    else:
        return 'High'
x['class'] = x['rating'].apply(movie_class)
x.head(10)

   user id  item id  rating  timestamp    class
0      196      242       3  881250949  Average
1      186      302       3  891717742  Average
2       22      377       1  878887116      Low
3      244       51       2  880606923      Low
4      166      346       1  886397596      Low
5      298      474       4  884182806  Average
6      115      265       2  881171488      Low
7      253      465       5  891628467     High
8      305      451       3  886324817  Average
9        6       86       3  883603013  Average

## Задание 2
```
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

```

In [41]:
geo_data = {    
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']  
}
data = pd.read_csv('keywords.csv')

def get_region(keyword): 
data['region'] = data.keyword.apply(get_region)

## Задание 3 (бонусное)
```
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’
Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга
```

In [ ]:
import pandas as pd
ratings = pd.read_csv('ratings.csv', sep = ',', encoding = 'utf-8')
movies = pd.read_csv('movies.csv', sep = ',', encoding = 'utf-8')
data = ratings.merge(movies, how = 'left')
data.drop_duplicates(keep = 'first')

In [ ]:
list_of_years = list(range(1950,2011))
years = [str(year) for year in list_of_years]
def production_year(title):
    '''Принимает значение столбца с названием и возвращает год выпуска, если он там есть, если нет - возвращает 1900'''
    for year in years:
        if f'({year})' in title:
            return year
    return '1900'
data['year'] = data.title.apply(production_year)
data.groupby('year')['rating'].mean().sort_values(0, ascending = False)